body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.tect-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.submit-button {
    background-color: #ff5e00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.submit-button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.result h2 {
    color: #333;
    text-align: center;
}

.result p {
    color: #666;
}

/* Задаємо маркери для відповідей */
.question label {
    display: block;
}

#backBtn {
    background-color: #f10404;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-family: 'Georgia', serif;
}

#backBtn:hover {
    background-color: #0a4aed; /* Зелений колір фону при наведенні */
}
